* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

body {
    background-color: #333;
}

.slider {
    width: 800px;
    max-height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    /* left: 50%; */
    display: flex;
    /* transform: translate(-50%, -50%); */
}

.navigation__label {
    height: 15px;
    width: 15px;
    margin: 4px;
    padding: 2px;
    cursor: pointer;
    background-color: rgb(121, 141, 231);
    opacity: 1;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.navigation__label:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: #fff;
}

input[name="input__radio"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.6s ease;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.slide__text {
    padding-top: 2%;
}

.slide__text p {
    /* font-size: 22px; */
    color: #fff;
}

#input1:checked~.slide1 {
    margin-left: 0;
}

#input2:checked~.slide1 {
    margin-left: -25%;
}

#input3:checked~.slide1 {
    margin-left: -50%;
}

#input4:checked~.slide1 {
    margin-left: -75%;
}