* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

body {
    background-color: #333;
}

.slider {
    width: 800px;
    max-height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.navigation__label {
    height: 15px;
    width: 15px;
    margin: 4px;
    padding: 2px;
    cursor: pointer;
    background-color: rgb(121, 141, 231);
    opacity: 1;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.navigation__label:hover {
    opacity: 1;
    transform: scale(1.1);
    background-color: #fff;
}

input[name="input__radio"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all 0.6s ease;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.slide__text {
    padding-top: 2%;
}

.slide__text p {
    /* font-size: 22px; */
    color: #fff;
}

#input1:checked~.slide1 {
    margin-left: 0;
}

#input2:checked~.slide1 {
    margin-left: -25%;
}

#input3:checked~.slide1 {
    margin-left: -50%;
}

#input4:checked~.slide1 {
    margin-left: -75%;
}

#input1:checked~.navigation label[for="input1"],
#input2:checked~.navigation label[for="input2"],
#input3:checked~.navigation label[for="input3"],
#input4:checked~.navigation label[for="input4"] {
    background-color: #333;
    border: 2px solid rgb(121, 141, 231);
    height: 11px;
    width: 11px;
}

#input1:checked~.navigation label[for="input1"]:active,
#input2:checked~.navigation label[for="input2"]:active,
#input3:checked~.navigation label[for="input3"]:active,
#input4:checked~.navigation label[for="input4"]:active {
    background-color: #333;
    border: 2px solid rgb(121, 141, 231);
    height: 11px;
    width: 11px;
}

#input1:checked~.navigation label[for="input1"]:hover,
#input2:checked~.navigation label[for="input2"]:hover,
#input3:checked~.navigation label[for="input3"]:hover,
#input4:checked~.navigation label[for="input4"]:hover {
    border: 2px solid #fff;
}

@media only screen and (max-width: 820px) {
    .slider {
        width: 95%;
        max-height: 100%;
        overflow-x: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .navigation {
        position: absolute;
        bottom: 5%;
        left: 50%;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
    }
    .slide__text {
        padding-top: 8%;
    }
}

@media only screen and (max-width: 624px) {
    .navigation {
        bottom: 14%;
    }
    .slide__text {
        padding-top: 14%;
    }
}

@media only screen and (max-width: 315px) {
    .navigation {
        bottom: 25%;
    }
}

@media only screen and (max-height: 414px) {
    .navigation {
        bottom: -16%;
    }
}

@media only screen and (max-height: 375px) {
    .navigation {
        bottom: -40%;
    }
}